@page
@using Microsoft.Extensions.Localization
@using Alien.Localization
@using Alien.Web.Pages.Alien
@model Alien.Web.Pages.Alien.IndexModel
@inject IStringLocalizer<AlienResource> L

@{
}
<h1>Alien</h1>
<p>@L["SamplePageMessage"]</p>
