@page
@using Microsoft.Extensions.Localization
@using Species.Localization
@using Species.Web.Pages.Species
@model Species.Web.Pages.Species.IndexModel
@inject IStringLocalizer<SpeciesResource> L

@{
}
<h1>Species</h1>
<p>@L["SamplePageMessage"]</p>
